
.triangulo-containerInnova {
    @apply absolute top-0 right-[0];
    width: 100%; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
    overflow: hidden;
  }

.trianguloInnova {
    @apply absolute top-0 right-0;
    /* width: 0;
    height: 0; */
    border-right: 102vh solid transparent; /* Ajusta el ancho de la base del triángulo */
    border-top: 400px solid rgba(98, 195, 255, 0.25)
    /* transform: rotate(360deg); */
   
    }